---
import Section from "@/layouts/Section.astro";
import Skill from "./Skill.astro";

const skills = [
  {
    name: "Next.js",
    icon: "https://skillicons.dev/icons?i=nextjs",
  },
  {
    name: "TailwindCSS",
    icon: "https://skillicons.dev/icons?i=tailwind",
  },
  {
    name: "Typescript",
    icon: "https://skillicons.dev/icons?i=ts",
  },
  {
    name: "React",
    icon: "https://skillicons.dev/icons?i=react",
  },
  {
    name: "CSS",
    icon: "https://skillicons.dev/icons?i=css",
  },
  {
    name: "Docker",
    icon: "https://skillicons.dev/icons?i=docker",
  },
  {
    name: "NodeJS",
    icon: "https://skillicons.dev/icons?i=nodejs",
  },
  {
    name: "Django",
    icon: "https://skillicons.dev/icons?i=django",
  },
  {
    name: "Python",
    icon: "https://skillicons.dev/icons?i=py",
  },
  {
    name: "nginx",
    icon: "https://skillicons.dev/icons?i=nginx",
  },
  {
    name: "PostgreSQL",
    icon: "https://skillicons.dev/icons?i=postgres",
  },
  {
    name: "RabbitMQ",
    icon: "https://skillicons.dev/icons?i=rabbitmq",
  },
];
const tools = [
  {
    name: "Git",
    icon: "https://skillicons.dev/icons?i=git",
  },
  {
    name: "Figma",
    icon: "https://skillicons.dev/icons?i=figma",
  },
  {
    name: "Linux",
    icon: "https://skillicons.dev/icons?i=linux",
  },
  {
    name: "VSCode",
    icon: "https://skillicons.dev/icons?i=vscode",
  },
  {
    name: "Blender",
    icon: "https://skillicons.dev/icons?i=blender",
  },
  {
    name: "LaTeX",
    icon: "https://skillicons.dev/icons?i=latex",
  },
];
const learning = [
  {
    name: "Kubernetes",
    icon: "https://skillicons.dev/icons?i=kubernetes",
  },
  { name: "Astro", icon: "https://skillicons.dev/icons?i=astro" },
];
---

<Section animation={2} name="Skills">
  <div class="break-inside-avoid w-fit">
    <h3 class="text-cat-peach text-lg font-bold self-center text-balance mb-2">
      Technologies
    </h3>
    <ul class="flex gap-2 flex-wrap max-w-prose print:max-w-max">
      {skills.map((skill) => <Skill name={skill.name} icon={skill.icon} />)}
    </ul>
  </div>

  <div class="break-inside-avoid w-fit">
    <h3
      class="text-cat-peach text-lg font-bold self-center text-balance mb-2 mt-8"
    >
      Tools
    </h3>
    <ul class="flex gap-2 flex-wrap max-w-prose print:max-w-max">
      {tools.map((skill) => <Skill name={skill.name} icon={skill.icon} />)}
    </ul>
  </div>

  <div class="break-inside-avoid w-fit">
    <h3
      class="text-cat-peach text-lg font-bold self-center text-balance mt-8 mb-2"
    >
      Learning
    </h3>
    <ul class="flex gap-2 flex-wrap max-w-prose print:max-w-max">
      {learning.map((skill) => <Skill name={skill.name} icon={skill.icon} />)}
    </ul>
  </div>
</Section>
